<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="landing_page.css" />
    </head>
    <body>
        <div class="logo"><img src="images/Logo.svg" alt=""></div>
        <div class="bg-img" ></div>
        <div class="main">
            <h1>Expmore the best camps on Earth</h1>
            <p>
                YelpCamp is a curated list of the best camping spots on Earth.
                Unfilterd and unbiased reviews.
            </p>
            <ul class="checkBoxed" >
                <li><img width="19" height="19" src="images/Checkmark.svg" alt="">Add your own camp suggestions </li>
                <li><img width="19" height="19" src="images/Checkmark.svg" alt="">Leave revies and experiences </li>
                <li><img width="19" height="19" src="images/Checkmark.svg" alt="">See locations for all camps</li>
            </ul>
            <button>View Campgrounds</button>
            <p>Partnerd with:</p>
            <ul class="li2" >
                <li><img src="images/Airbnb.svg" alt=""></li>
                <li><img src="images/Booking.svg" alt=""></li>
                <li><img src="images/Plum Guide.svg" alt=""></li>
            </ul>
        </ul>
    </body>
</html>
